package routes

import (
	"app/handlers"

	"github.com/kataras/iris/v12"
)

func routes(r iris.Party) {
{{- range .Schemas }}
	{{- if skip_schema .}}{{continue}}{{- end}}
    {{- $r := plural .Name | camel  }}
    {{- $pn := pascal .Name}}
    {{- $ppn := pascal .Name | plural }}
	{{ $r }} := r.Party("/{{ $r }}")
	{{ $r }}.Get("/{id}", handlers.Read{{ $pn }}).Name = "{{ $r }}:read-one"
	{{ $r }}.Get("/", handlers.Read{{ $ppn }}).Name = "{{ $r }}:read-many"
	{{ $r }}.Post("/", handlers.Create{{ $pn }}).Name = "{{ $r }}:create-one"
	{{ $r }}.Post("/bulk", handlers.Create{{ $ppn }}).Name = "{{ $r }}:create-many"
	{{ $r }}.Patch("/{id}", handlers.Update{{ $pn }}).Name = "{{ $r }}:update-one"
	{{ $r }}.Patch("/", handlers.Update{{ $ppn }}).Name = "{{ $r }}:update-many"
	{{ $r }}.Delete("/{id}", handlers.Delete{{ $pn }}).Name = "{{ $r }}:delete-one"
	{{ $r }}.Delete("/", handlers.Delete{{ $ppn }}).Name = "{{ $r }}:delete-many"
    {{ end -}}
}